Repository checkmate-africa/checkmate.africa: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts, vue, css}": ["prettier --write"],
  "*.{ts,vue}": ["eslint --fix"]
}

feat: sign-up page
  components/layout/footer.vue
  components/layout/header.vue
  composables/useSignupForm.ts
  pages/index.vue
  pages/sign-up.vue
  style/globals.css
  tailwind.config.ts
Due: prettier --write, eslint --fix

chore: add MIT license
  LICENCE
Due: none

chore: update readme with correct title
  README.md
Due: none

feat: add new logo
  assets/svgs/logo.svg
Due: none

fix: fix select field inconsistency on ios devices
  pages/sign-up.vue
Due: eslint --fix

feat: update homepage copy
  assets/imgs/activity-accountability.png
  assets/imgs/activity-focus-rooms.png
  assets/imgs/activity-projects.png
  assets/svgs/logo.svg
  components/common/button.vue
  components/layout/footer.vue
  components/layout/header.vue
  composables/useSignupForm.ts
  pages/index.vue
  pages/report-abuse.vue
  pages/sign-up.vue
Due: prettier --write, eslint --fix

chore: move images to public
  nuxt.config.ts
  pages/index.vue
  public/imgs/activity-accountability.png
  public/imgs/activity-focus-rooms.png
  public/imgs/activity-projects.png
  public/imgs/hero-bg.png
  public/imgs/hero-img.png
  public/svgs/github.svg
  public/svgs/instagram.svg
  public/svgs/linkedin.svg
  public/svgs/logo.svg
  public/svgs/twitter.svg
Due: prettier --write, eslint --fix

fix: update image directory
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix: update nuxt-image path
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix: remove nuxt-image
  components/layout/footer.vue
  nuxt.config.ts
  pages/index.vue
Due: prettier --write, eslint --fix

feat: add opengraph tags
  nuxt.config.ts
Due: prettier --write, eslint --fix

fix: fix og image url
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: update site description
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: update og description
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: update join link
  pages/index.vue
Due: eslint --fix

chore: update volunteer link
  pages/index.vue
Due: eslint --fix

chore: enable volunteer button
  pages/index.vue
Due: eslint --fix

feat: update meta tags
  nuxt.config.ts
Due: prettier --write, eslint --fix

feat: add favicon
  public/favicon.ico
Due: none

chore: accessibility and performance optimizations
  components/common/logo.vue
  components/layout/footer.vue
  pages/index.vue
  public/imgs/activity-accountability.png
  public/imgs/activity-accountability.webp
  public/imgs/activity-focus-rooms.png
  public/imgs/activity-focus-rooms.webp
  public/imgs/activity-projects.png
  public/imgs/activity-projects.webp
  public/imgs/hero-bg.png
  public/imgs/hero-bg.webp
  public/imgs/hero-img.png
Due: eslint --fix

feat: community guidelines
  components/layout/header.vue
  pages/community-guidelines.vue
  pages/report-abuse.vue
Due: eslint --fix

fix: add bottom padding
  pages/community-guidelines.vue
Due: eslint --fix

feat: community guidelines mobile view
  pages/community-guidelines.vue
Due: eslint --fix

fix: fix nav toggle
  components/layout/header.vue
  pages/community-guidelines.vue
Due: eslint --fix

feat: update title sizes on guidelines
  pages/community-guidelines.vue
Due: eslint --fix

chore: update landing page
  pages/index.vue
Due: eslint --fix
